/* TileWorld CSS properties*/
#content {
    padding: 10px;
}
#menu {
    float: right;
}
#content textarea {
    min-width: 400px;
    min-height: 100px;
}
.row {
    overflow: hidden;
    width: 100%;
    clear: both;
}
.box {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000;
    background-color: #ccc;
    text-align: center;
}
.obstacle {
    background-color: #444;
}
.agent {

}
.hole {
    border-radius: 50%;
    color: #FFF;
}
.tile {
    display: block;
    float: left;
    border-radius: 50%;
}
#content hr {
    border: 2px solid #000;
    margin: 10px 0;
}
#console {
    border: 1px solid #000;
    padding: 5px;
}